#Coinkoin{
	width:655px;
	height:491px;
	border:2px;
	border-color: #00FF33;
	border-style:dashed;
	margin-left:25px;
	margin-top:0px;
	padding:0px;
	left: 153px;
	top: 15px;
	position:absolute;
	display:none;
	padding:0;}
#Coinkoin_Entree{
	width:655px;
	height:491px;
	border:2px;
	border-color: #00FF33;
	border-style:dashed;
	margin-left:25px;
	margin-top:0px;
	padding:0px;
	left: 153px;
	top: 15px;
	position:absolute;
	display:none;
	padding:0;
	}

